
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
$primary: #757575;
$secondary: #1b1717;
$heading-color: #1b1717;
$paragraph-color: #6e6e6e;
$border: #dadada;
$white: #fff;
$border-color-overlay: rgba(255, 255, 255, 0.25);
$white-smoke: #f3f3f3;
$rating-color: #3f3f3f;
$font-family: "Poppins", sans-serif;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Sora:wght@100..800&family=Tenor+Sans&display=swap');
@mixin stylefontz( $fw, $fs, $c){
    font-weight: $fw;
    font-size: $fs;
    color: $c;
}
@mixin stylcenter($d, $ai, $jc){
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}
/*--------------------*/
body {
    font-family: $font-family;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: #959595;
}
.subtitle {
    @include stylefontz( 900, clamp(10px, 3vw, 17px),  $primary);
    letter-spacing: 0.07em;
    text-transform: uppercase;
}
.title {
    margin: 15px 0;
    @include stylefontz( 900, clamp(25px, 2vw, 45px),  $secondary );
    letter-spacing: 0.07em;
    text-transform: uppercase;
}
.text {
    @include stylefontz( 400, clamp(10px, 1vw, 17px),  $paragraph-color );
    letter-spacing: 0.07em;
}
.btn {
    padding: 25px 40px;
    background: $primary;
    @include stylefontz( 600, clamp(10px, 0.5vw,  15px),  $white);
    letter-spacing: 0.01em;
    text-transform: uppercase;
    transition: all 0.3s ease-in;
    &:hover {
        border-radius: 5px;
    }
}
.black {
      background: $secondary !important;
      color: $white;
}
.grey {
      background: $primary;
      color: $white;
      .procerdure__flex-name,
      .procerdure__flex-text {
            color: $white;
      }
}
/*--------------------*/
.header {
    width: 100%;
    height: 123px;
    border-bottom: 1px solid $border-color-overlay;
    @include stylcenter( flex, center, center);
		&__content {
            width: 100%;
            height: 100%;
            @include stylcenter( flex, center, space-between);
		}
		&__content-logo {
            width: 245px;
            height: 63px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
		}
		&__content-menu {
            @include stylcenter( flex, center, space-between);
		}
		&__list-link {
            padding: 50px 17px;
            transition: all 0.3s ease-in;
            @include stylefontz( 600, clamp(10px, 1vw, 15px), $white);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            &:hover {
                background: $primary;
            }
		}
}
.burger {
      height: 52px;
      @include stylcenter( none, start, space-around);
      flex-direction: column;
      background: transparent;
    span {
      display: block;
      width: 38px;
      height: 6px;
     background: $white;
    }  
}
.main {
    margin-top: 100px;
		&__content {
            @include stylcenter( flex, center, space-between);
		}
		&__content-info {
            width: 655px;
		}
		&__info-title {
            margin: 15px 0;
            @include stylefontz(900, clamp(30px, 3vw, 60px), $white);
            letter-spacing: 0.07em;
            text-transform: uppercase;
		}
        &__info-text {
            margin-bottom: 45px;
            color: $white;
        }
		&__info-btn {
            color: $white;
		}
		&__content-bg {
            width: 427px;
            height: 427px;
            animation: moveBg 3s infinite linear alternate;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
		}
}
@keyframes moveBg {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60px); /* Можешь изменить направление/силу */
  }
}
.box-index {
    margin-top: -195px !important;
}
.box {
    margin-top: 100px;
		&__content {
            @include stylcenter( flex, center, space-between);
		}
		&__content-flex {
            padding: 30px;
            background: $primary;
            cursor: pointer;
		}
		&__flex-name {
            @include stylefontz( 600, clamp(15px, 2vw,  25px),  $white);
            letter-spacing: 0.07em;
            text-transform: uppercase;
		}
		&__flex-text {
            padding: 15px 0;
            letter-spacing: 0.07em;
            color: $white;
		}
}
.about {
    margin-top: 100px;
		&__content {
            @include stylcenter( flex, center, space-between);
		}
		&__content-bg {
            width: 49%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
		}
		&__content-info {
            width: 49%;
            height: 100%;
		}
		&__info-text {
            margin-bottom: 25px;
		}
		&__info-icon {
            margin-top: 5px;
            @include stylcenter( flex, center, space-between);
		}
		&__lcon-list {
            width: 50%;
		}
		&__black-logo {
            @include stylcenter( flex, center, unset);
            margin-bottom: 15px;
            gap: 15px;
		}
		&__info-counter {
            margin-top: 15px;
            @include stylcenter( flex, center, space-around);
		}
        &__counter-body {
            width: 30%;
        }
		&__body-number {
            display: block;
            width: 100%;
            @include stylefontz( 900, clamp(30px, 3vw, 45px),  $primary);
            letter-spacing: 0.07em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 5px;
		}
		&__body-name {
             @include stylefontz( 900, 15px,   $secondary);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            text-align: center;
		}
}
.procerdure {
      margin-top: 100px;
		&__content-info {
                  margin-bottom: 30px;
		}
		&__content-wrap {
                  @include stylcenter( flex, center, space-between);
                  flex-wrap: wrap;
		}
		&__wrap-flex {
                  flex: 0 1 31%;
                  padding: 30px;
                  border: 1px solid $border;
		}
		&__flex-name {
                  margin: 30px 0 15px;
                  @include stylefontz( 400, clamp(10px, 2vw, 25px),  $secondary);
		}	
}
.slaider {
      margin-top: 100px;
      .swiper-wrapper {
            -webkit-transition-timing-function:linear!important;
             -o-transition-timing-function:linear!important;
            transition-timing-function:linear!important;
      }
}
.swiper-slide {
      width: 313px !important;
      height: 252px !important;
      img {
            width: 100%;
            height: 100%;
            object-fit: contain;
      }
}
.partfolio {
      margin-top: 100px;
		&__content {
                  @include stylcenter( flex, center, space-between);
		}
		&__content-info {
                  width: 48%;
		}
		&__info-text {
                  margin-bottom: 45px;
		}
		&__info-btn {
                  color: $white;
            }
		&__content-bg {
                  width: 48%;
                  height: 760px;
                  img ,svg {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                  }
		}
}
.advantages {
      margin-top: 100px;
		&__content {
                  @include stylcenter( flex, center, space-between);
		}
		&__content-bg {
                  width: 48%;  
                  height: 480px;    
                  position: relative;           
		}
            &__bg-img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
            }
            &__bg-play {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 4;
            }
		&__content-info {
                  width: 48%;
		}
		&__info-text {
                  margin-bottom: 30px;
		}
}
.testimonial {
      margin-top: 100px;
		&__content {
                  @include stylcenter( flex, center, space-between);
		}
		&__content-info {
                  width: 48%;
		}
		&__content-clients {
                  width: 48%;
		}
		&__clients-text {
                  margin: 15px 0;
		}
		&__clients-information {
                  @include stylcenter( flex, center, normal);
                  gap: 15px;
		}
		&__information-avatar {
                  width: 85px;
                  height: 85px;
                  background: #c4c4c4;
                  border-radius: 50%;
		}
		&__left-name {
                  @include stylefontz( 900, clamp(10px, 3vw, 17px),  $secondary );
                  letter-spacing: 0.07em;
                  text-transform: uppercase;
		}
		&__left-text {
                  margin-top: 5px;
                  @include stylefontz( 600, clamp(10px, 3vw, 15px), $primary);
                  letter-spacing: 0.1em;
                  text-transform: uppercase;
		}
}
.footer {
      margin-top: 100px;
      padding: 325px 0 30px;
      background: $secondary;
      &__content-top {
            @include stylcenter( flex, center, space-between);
            margin: 60px 0;
      }
      &__info-title {
            margin-bottom: 15px;
            @include stylefontz( 400, clamp(10px, 1vw, 25px),  $white);
            letter-spacing: 0.07em;
            text-transform: uppercase;
      }
      &__info-text {
            width: 427px;
            margin: 0 0 30px;
            line-height: 1.5;
            color: $white;
      }
      &__info-social {
            width: 153px;
            @include stylcenter( flex, center, space-between);
      }
      &__top-nav {
            @include stylcenter( flex, start, space-between);
            gap: 15px;
            flex-direction: column;
      }
      &__list-link {
            @include stylefontz( 400, clamp(10px, 1vw, 17px),  $white);
      }
      &__location-list {
            margin-bottom: 10px;
            list-style: none;
            a {
                  @include stylefontz( 400, clamp(10px, 1vw, 17px),  $white);
            }
            
      }
      &__contact-form {
            margin-top: 13px;
            @include stylcenter( flex, start, space-between);
            flex-direction: column;
            gap: 15px;
      }
      &__form-input {
            width: 100%;
            padding: 24px 0 19px 15px;
            background: $border-color-overlay;
            border-bottom: 5px solid $primary;
            @include stylefontz( 400, clamp(10px, 1vw, 17px),  $white);
            &::placeholder {
                  @include stylefontz( 400, clamp(10px, 1vw, 17px),  $white);
            }
      }
      &__content-bottom {
            padding-top: 30px;
            border-top: 1px solid $border-color-overlay;
            @include stylcenter( flex, center, space-between);
      }
      &__bottom-site {
            width: 474px;
            @include stylcenter( flex, center, space-between);
      }
      &__bottom-text {
            color: $white
      }
      &__site-list {
            a {
                  @include stylefontz( 400, clamp(10px, 1vw, 15px),  $white);
            }
            
      }
}
@media (max-width: 860px) {
      .header {
            &__content-menu {
                  display: none;
                  .active {
                        display: block;
                  }
            }
      }
      .burger {
            display: flex;
      }
}