<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <footer class="footer">
        <div class="footer__content container">
            <div class="footer__content-top">
                <div class="footer__top-info">
                    <h5 class="footer__info-title">Information</h5>
                    <p class="footer__info-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    <div class="footer__info-social">
                        <a href="#" class="footer__spcial-icons">
                            <img src="images/social-footer.svg" alt="footer__spcial">
                        </a>
                        <a href="#" class="footer__spcial-icons">
                            <img src="images/social-footer.svg" alt="footer__spcial">
                        </a>
                        <a href="#" class="footer__spcial-icons">
                            <img src="images/social-footer.svg" alt="footer__spcial">
                        </a>
                        <a href="#" class="footer__spcial-icons">
                            <img src="images/social-footer.svg" alt="footer__spcial">
                        </a>
                    </div>
                </div>
                <ul class="footer__top-nav">
                    <h5 class="footer__info-title">Navigation</h5>
                    <li class="footer__nav-list"><a href="#" class="footer__list-link">Homepage</a></li>
                    <li class="footer__nav-list"><a href="#" class="footer__list-link">About Us</a></li>
                    <li class="footer__nav-list"><a href="#" class="footer__list-link">Services</a></li>
                    <li class="footer__nav-list"><a href="#" class="footer__list-link">Project</a></li>
                </ul>
                <div class="footer__top-contact">
                    <h5 class="footer__info-title">Contact Us</h5>
                    <div class="footer__contact-location">
                        <li class="footer__location-list">
                            <img src="images/location.png" alt="">
                            <a href="#">Lumbung Hidup East Java</a>
                        </li>
                        <li class="footer__location-list">
                            <img src="images/location.png" alt="">
                            <a href="#">Hello@Homco.com</a>
                        </li>
                    </div>
                    <form class="footer__contact-form" action="#">
                        <input class="footer__form-input" type="email" placeholder="Email Address">
                        <button class="footer__form-btn btn">Subscribe</button>
                    </form>
                </div>
            </div>
            <div class="footer__content-bottom">
                <p class="footer__bottom-text text">Allright Reserved - Homco Interior</p>
                <ul class="footer__bottom-site">
                    <li class="footer__site-list"><a href="#">DIsclaimer</a></li>
                    <li class="footer__site-list"><a href="#">Privacy Policy</a></li>
                    <li class="footer__site-list"><a href="#">Term Of Use</a></li>
                </ul> 
            </div>
        </div>
    </footer>
</body>
</html>