<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <div class="sponsor">
        <div class="container">
            <div class="sponsor__top">
                <a href="#" class="sponsor__top-logo">
                    <img src="images/sponsor-logo.png" alt="">
                </a>
                <a href="#" class="sponsor__top-logo">
                    <img src="images/sponsor-logo.png" alt="">
                </a>
                <a href="#" class="sponsor__top-logo">
                    <img src="images/sponsor-logo.png" alt="">
                </a>
                <a href="#" class="sponsor__top-logo">
                    <img src="images/sponsor-logo.png" alt="">
                </a>
            </div>
            <div class="sponsor__info">
                <h2 class="sponsor__info-title">LETS CHANGE YOUR OWN HOME INTERIOR DESIGN NOW</h2>
                <a href="#" class="sponsor__info-btn btn">Contact Us</a>
            </div>
        </div>
    </div>
   <footer class="footer">
    <div class="footer__content container">
        <div class="footer__content-center">
            <div class="footer__center-info">
                <h5 class="footer__info-name">Information</h5>
                <p class="footer__info-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <a href="#" class="footer__info-social">
                    <img src="/images/social.svg" alt="">
                </a>
                <a href="#" class="footer__info-social">
                    <img src="/images/social.svg" alt="">
                </a>
                <a href="#" class="footer__info-social">
                    <img src="/images/social.svg" alt="">
                </a>
                <a href="#" class="footer__info-social">
                    <img src="/images/social.svg" alt="">
                </a>
            </div>
            <div class="footer__center-menu">
                <h5 class="footer__menu-name">Navigation</h5>
                <ul class="footer__menu-item">
                    <li class="footer__item-list"><a href="/index.html" class="footer__list-link">Homepage</a></li>
                    <li class="footer__item-list"><a href="#" class="footer__list-link">About Us</a></li>
                    <li class="footer__item-list"><a href="#" class="footer__list-link">Services</a></li>
                    <li class="footer__item-list"><a href="#" class="footer__list-link">Project</a></li>
                </ul>
            </div>
            <div class="footer__center-contact">
                <h5 class="footer__cotact-name">Contact Us</h5>
                <input type="email" class="footer__cotact-input" placeholder="Email Address">
                <a href="#" class="footer__contact-btn btn">Subscribe</a>
            </div>
        </div>
    </div>
   </footer>
</body>
</html>