<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Headet</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <a href="index.html" class="header__content-logo">
                <img src="images/logo.svg" alt="">
            </a>
            <button class="burger" >
                <span></span>
                <span></span>
                <span></span>
            </button>

            <ul class="header__content-menu" >
                <li class="header__menu-list"><a href="index.html" class="header__list-link">Home</a></li>
                <li class="header__menu-list"><a href="about.html" class="header__list-link">About Us</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Our Services</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Our Projects</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Portfolio</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Pages</a></li>
            </ul>
        </div>
    </header>
</body>
</html>