<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <header class="header">
        <div class="header__content container">
            <a href="#" class="header__content-logo">
                <img src="images/logo.svg" alt="">
            </a>
            <ul class="header__content-menu">
                <li class="header__menu-list"><a href="#" class="header__list-link">Home</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">aBOUT uS</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">oUR sERVICES</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">oUR pROJECTS</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Portfolio</a></li>
                <li class="header__menu-list"><a href="#" class="header__list-link">Pages</a></li>
            </ul>
        </div>
    </header>
<script src="js/header.js"></script>
</body>
</html>