<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <section class="box">
        <div class="box__content container">
            <div class="box__content-flex black">
                <h5 class="box__flex-name">HOME DESIGN CONSULTATION</h5>
                <p class="box__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <a href="#" class="box__flex-btn">
                <img src="images/btn.svg" alt="">
                </a>
            </div>
            <div class="box__content-flex">
                <h5 class="box__flex-name">HOME DESIGN 3D 2D INTERIOR SERVICE</h5>
                <p class="box__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <a href="#" class="box__flex-btn">
                <img src="images/btn.svg" alt="">
                </a>
            </div>
            <div class="box__content-flex black">
                <h5 class="box__flex-name">HOME DESIGN CONSULTATION</h5>
                <p class="box__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <a href="#" class="box__flex-btn">
                <img src="images/btn.svg" alt="">
                </a>
            </div>
        </div>
    </section>
<script src="js/header.js"></script>
</body>
</html>