<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <section class="partfolio">
        <div class="partfolio__content container">
            <div class="partfolio__content-info">
                <h5 class="partfolio__info-subtitle subtitle">Perfect Partner</h5>
                <h2 class="partfolio__info-title title">WE HAVE PRIORITY FOR CAN CREATE DREAM HOME DESIGN</h2>
                <p class="partfolio__info-text text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a href="#" class="partfolio__info-btn btn">Portfolio</a>
            </div>
            <div class="partfolio__content-bg">
                <svg width="655" height="760" viewBox="0 0 655 760" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="114" width="541" height="350" fill="#C4C4C4" />
                    <rect y="190" width="541" height="350" fill="#DADADA" />
                    <rect x="114" y="410" width="541" height="350" fill="#C4C4C4" />
                </svg>
            </div>
        </div>
    </section>
</body>
</html>