<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <section class="procerdure">
        <div class="procerdure__content container">
            <div class="procerdure__content-info">
                <h5 class="procerdure__info-subtitle subtitle">How We Work</h5>
                <h2 class="procerdure__info-title title">OUR WORK PROCEDURE</h2>
            </div>
            <div class="procerdure__content-wrap">
                <div class="procerdure__wrap-flex">
                    <img src="images/procerdure-1.svg" alt="" class="procerdure__flex-img">
                    <h5 class="procerdure__flex-name">CLIENT DESIGN CONSULTATION</h5>
                    <p class="procerdure__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
                <div class="procerdure__wrap-flex grey">
                    <img src="images/procerdure-2.svg" alt="" class="procerdure__flex-img">
                    <h5 class="procerdure__flex-name">CLIENT DESIGN CONSULTATION</h5>
                    <p class="procerdure__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
                <div class="procerdure__wrap-flex">
                    <img src="images/procerdure-3.svg" alt="" class="procerdure__flex-img">
                    <h5 class="procerdure__flex-name">CLIENT DESIGN CONSULTATION</h5>
                    <p class="procerdure__flex-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>