<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <section class="testimonial">
        <div class="testimonial__content container">
            <div class="testimonial__content-info">
                <h5 class="testimonial__info-subtitle subtitle">Clients Feedback</h5>
                <h2 class="testimonial__info-title title">OUR TESTIMONIAL FROM BEST CLIENTS</h2>
                <p class="testimonial__info-text text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
            <div class="testimonial__content-clients">
                <div class="testimonial__clients-sar">
                    <img src="images/star.png" alt="">
                </div>
                <p class="testimonial__clients-text text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <div class="testimonial__clients-information">
                    <div class="testimonial__information-avatar"></div>
                    <div class="testimonial__information-left">
                        <h5 class="testimonial__left-name">John De</h5>
                        <p class="testimonial__left-text">Art Director</p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
</body>
</html>