<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Headet</title>
</head>
<body>
    <section class="advantages">
        <div class="advantages__content container">
            <div class="advantages__content-bg">
                <img class="advantages__bg-img" src="images/advantages-bg.jpg" alt="">
                <img class="advantages__bg-play" src="images/advantages-play.png" alt="">
            </div>
            <div class="advantages__content-info">
                <h5 class="advantages__info-subtitle subtitle">Trust Us Now</h5>
                <h2 class="advantages__info-title title">WHY CHOICE OUR HOME DESIGN INTERIOR SERVICES</h2>
                <p class="advantages__info-text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                <div class="about__info-icon">
                    <div class="about__lcon-list">
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                    </div>
                    <div class="about__lcon-list">
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                        <div class="about__list-block">
                            <div class="about__black-logo">
                                <img src="/images/about-logo.svg" alt="">
                                <p class="about__black-name text">Flexible Time</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>